* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-image: url("../img/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    /* padding-bottom: 90px; */
    /* min-height: 100vh; */
    height: 100%;
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
    /* height: 100%; */
    /*min-height: calc(100vh - 236.44px - 90px);*/
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.inner-footer {
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.911);
    width: 100%;
}
.social-links {
    display: flex;
}
.social-links ul {
    padding: 10px;
    display: flex;
    width: 560px;
    height: 50px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.social-items {
    list-style: none;
}
.social-items a {
    padding: 8px 20px;
    font-size: 55px;
    color: rgba(252,158,58,255);
    
}

.text-background{
    background-color: rgba(255, 253, 251, 0.774);
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 2px solid gray;
    
    
}

.navbar{
    height: 15%;
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    
}